<div class="bg-section center-text container">
    <h2><strong>Welcome to the Clue Card Tracker!</strong></h2>
    <img src="https://media3.giphy.com/media/gSYzK9VGVQxoY/giphy.gif" alt="cluegif">
</div>