<div class="bg-section center-text container">
    <h2><strong>Welcome to the Clue Card Tracker!</strong></h2>
    <img src="https://media3.giphy.com/media/gSYzK9VGVQxoY/giphy.gif" alt="cluegif">
    <h3>Here, you can track all the cards you know aren't in the "confidential packet," 
    <br> and you can easily figure out which cards ARE in the packet so you can win the game!</h3>
    <h5>NOTE: This application does not include the board game, Clue.</h5>
</div>