<div class="flex row card-cont">
    <img src="https://i.imgur.com/0hCDcm3.png" alt="ballroom" class="card container">
    <img src="https://i.imgur.com/jEj0peL.png" alt="billiard" class="card container">
    <img src="https://i.imgur.com/NINwfHE.png" alt="conservatory" class="card container">
    <img src="https://i.imgur.com/Rk6Mt9U.png" alt="dining" class="card container">
    <img src="https://i.imgur.com/1aE9z8M.png" alt="hall" class="card container">
    <img src="https://i.imgur.com/MVsnTjH.png" alt="library" class="card container">
    <img src="https://i.imgur.com/dnGjugE.png" alt="lounge" class="card container">
    <img src="https://i.imgur.com/S7p91SO.png" alt="study" class="card container">
    <img src="https://i.imgur.com/ZygtQ1v.png" alt="kitchen" class="card container">
</div>