<div class="flex row card-cont">
    <img src="https://i.pinimg.com/736x/9d/17/68/9d17687582b552b3a11c76d068b310ed.jpg" alt="Mustard" class="card container">
    <img src="https://i.pinimg.com/736x/95/5e/3f/955e3f53cad1de2fd769ffdde8d2c8c1.jpg" alt="Plum" class="card container">
    <img src="https://i.pinimg.com/originals/b9/60/93/b960938ccb284a04e416dacda76a09ac.jpg" alt="Peacock" class="card container">
    <img src="https://i.pinimg.com/736x/b3/62/ff/b362ff17a90b60791a7ed2ac8a5288d9.jpg" alt="Green" class="card container">
    <img src="https://i.pinimg.com/736x/8d/29/7b/8d297bdd2c4409c8cd398942b3313b1b.jpg" alt="Scarlett" class="card container">
    <img src="https://i.pinimg.com/736x/63/cc/b9/63ccb920d1858136a3cc91cbd88991dd.jpg" alt="White" class="card container">
</div>