<div class="flex row card-cont">
    <img src="https://imgur.com/GokEOn1.png" alt="wrench" class="card container">
    <img src="https://imgur.com/TJ7SIo8.png" alt="rope" class="card container">
    <img src="https://imgur.com/qlIOJKm.png" alt="pipe" class="card container">
    <img src="https://imgur.com/by2yDu5.png" alt="candle" class="card container">
    <img src="https://i.imgur.com/294ZcNS.png" alt="dagger" class="card container">
    <img src="https://i.imgur.com/Ubrgr6T.png" alt="revolver" class="card container">
</div>