<%= form_for([@game, @game.weapons.build]) do |f| %>
  <p>
    <%= f.label :wepName, "Weapon:" %><br>
    <%= f.select :wepName, [['Gun','Gun'],['Pipe','Pipe'],['Knife','Knife'], 
    ['Candlestick','Candlestick'], ['Rope','Rope'], ['Wrench','Wrench']] %>
  </p>
  
  
  <p>
    <%= f.submit %>
  </p>
<% end %>