// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table, td, tr, th{
    border: 1px solid black;
    padding: 5px;

}
.center{
    margin: 10% 10%;
}

#flex{
    margin: 0 0 0 200px;
}

.padd{
    margin: 0 50%;
}