<%= form_for([@game, @game.locations.build]) do |f| %>
  <p>
    <%= f.label :locName, "Location:" %><br>
    <%= f.select :locName, [['Library','Library'],['Study','Study'],['Hall','Hall'], ['Lounge','Lounge'], 
      ['Dining Room','Dining Room'], ['Kitchen','Kitchen'], ['Ballroom','Ballroom'], ['Conservatory','Conservatory'],
      ['Billard Room','Billiard Room']] %>
  </p>
  
  
  <p>
    <%= f.submit %>
  </p>
<% end %>